@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {	
	margin: 0%;
	padding: 0%;
}

body {
	font-family: Noto Sans;
	background:-webkit-linear-gradient(top, #570091, #ac068e);
	margin: 0% 5%;
	display: flex;
	flex-direction: column;
}	

h1 {
	color: azure;
	font-family: Antonio;
	font-size: 6.25em;
}

h2 {
	color: azure;
	font-weight: 300;
	font-style: italic;
	padding-top: 30px;
}

h3 {
	color: azure;
	font-family: Antonio;
	font-weight: 300;
	font-size: 3em;
}

h4 {
	color: azure;
	font-family: Antonio;
	font-weight: 100;
	font-size: 6.25em; 
	letter-spacing: 4px;
	text-align: center;
}

h5 {
	color: azure;
	font-family: Antonio;
	font-weight: 100;
	font-size: 3em;
}

h6 {
	color: azure;
	font-family: Antonio;
	font-weight: 200;
	font-size: 3em;
	letter-spacing: 10%;
}

p {
	color: azure;
	line-height: 25px;
	letter-spacing: 0.2px;
	font-size: 1.1em;
}

ul {
	list-style: none;
	color: azure;
	line-height: 25px;
}

ol {
	color: azure;
	font-size: 100%;
	line-height: 25px;
	font-weight: 100;
}

a {
	text-decoration: none;
	color: azure;
}

.imagenes {
	border-radius: 10px;
}

nav {
	display: flex;	
	justify-content: space-between;
}

header {
	position: fixed;
	background: rgba(146, 34, 232);
	width: 90%;
	border-radius: 10px;	
	margin-top: 1%;
}

.iconobotonera {
	padding: 0.8% 0% 0% 2%;
}

.botonera {
	padding: 1.5% 3%; 
	width: 80%;
	display: flex;	
	justify-content: space-between;
	font-size: 1.1em;
	font-weight: 600;
}

.botonera a {
    color: azure;
}

.botonera a:hover {
	transition: 0.3s;
    color: #0ee9c1;  
}

.contenedor {
	margin: 7% 0% 5% 0%;
	height: 85vh;
	background: url(img/astengobelen-cv.jpg);
	border-radius: 10px;
	padding: 5% 0% 0% 2.5%;
}

.contenedor p {	
	padding-top: 10px;
	width: 35%;
}

.contenedor ul {
	margin-top: 80px;
	display: flex;
	font-weight: 600;
	font-size: 1.2em;
}

.contenedor li {
	background-color: #570091;
	border-radius: 10px;
	width: 15%;	
	padding: 1% 1%;
	margin: 0% 10px 1% 0%;
}

.contenedor li:hover {
	background-color: rgb(18, 188, 176);
	transform: scale(1.05);
	transition: 1s;
}

.formacion {
	padding-top: 8%;
}

.formacion article  {
	display: flex;
	flex-flow: row wrap;
	padding-top: 30px;
	gap: 35px;
}

.estudios {
	font-weight: 100;
	width: 40vw;
}

.estudios img:hover {
	transform: scale(1.4);
}

.subtitulo {
	font-weight: 800;
	padding-bottom: 7px;
}

.estudios li {
	background-color: rgba(4, 255, 240, 0.4);
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 10px;
}

.logo {
	padding-top: 15px;
	padding-left: 2%;
 }

.materiascompletadas {	
	background-color: rgba(0, 24, 23, 0.263);
	border-radius: 10px;
	padding: 15px 30px;
	width: 42vw;
}

.listamaterias {
	padding-top: 15px;
	column-count: 2;
	list-style-position: inside;
	line-height: 50px;
	font-size: 1.15em;
}

.materiascompletadas li:hover {
	background-color: rgba(20, 218, 236, 0.501);
	transform: scale(1.05);
	transition: 0.3s;
	border-radius: 10px;
	padding-left: 15px;
	font-weight: 500;
}

.proyectos {
	padding: 7% 0% 2.5% 0%;
}

.miniaturas {	
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 40px;
 }

.miniaturas img:hover {
	transform: scale(1.1);
	transition: 0.7s;
}

.contenido img {
	border-radius: 10px;
}

.contenido p {
	font-weight: 600;
	letter-spacing: 0.7px;
	padding-bottom: 10px;
	font-size: 1.1em;
}


.hobbies {
	padding-top: 6%;
 }

.pasatiempos {
	display: flex;
	flex-flow: row wrap;
	gap: 20px;
}

.contenido2 {
	font-weight: 800;
	letter-spacing: 0.5px;
	padding: 30px 0px 10px 0px;
	font-size: 1.2em;
}

.hobbies img:hover {
	transform: rotate(5deg);
	transition: 1s;
}

footer {
	background: #8106d3;
	margin: 150px 0px 50px 0px;
	padding: 6% 2%;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 0.875em;
}

footer:hover {
	background: #9b06ff;
	transition: 1s;
}

.variable1 {
	font-weight: 600;
	font-size: 1.1em;
}

.variable2 {
	font-weight: 200;
	font-size: 1.1em;
}

#formulario {
	margin-top: 7%;
}

form {
	margin-top: 30px;
	height: fit-content;
	display: flex;
	align-items: flex-start;
	gap: 40px;
	flex-wrap: wrap;
}

label {
	color: azure;
	font-size: 1.125em;
	font-weight: 600;
	letter-spacing: 0.4px;
	padding-bottom: 7px;
}

form div {
	display: flex;
	flex-direction: column;
}

input {
	color: azure;
	width: 520px;
	height: 30px;
	padding: 10px 25px;
	border-radius: 10px;
	background: rgba(18, 188, 176, 0.70);
	border: none; 
    margin-bottom: 20px;  
}

input::placeholder {
	color: azure;
	font-size: 1em;
}

textarea {
	width: 520px;
	height: 300px;
	padding: 10px 25px;
	border-radius: 10px;
	background: rgba(18, 188, 176, 0.70);
	border: none;
}
 
.boton {
	width: 100px;
	height: 40px;
	font-size: 1em;
	font-weight: 600;
	background: #9222E8;
}

.boton:hover {
	width: 100px;
	height: 40px;
	background: #0ee9c1;
	color: #240439;
	transition: 0.2s;
}

.intereses {
	flex-flow: row wrap;
	gap: 30px;
}

.subtitulo-intereses {
	color: azure;
	font-size: 1.125em;
	font-weight: 600;
	letter-spacing: 0.4px;
	padding-top: 30px;
}

.intereses input {
	width: 20px;
	align-items: center;
}

.checkbox {
	font-size: 1.125em;
	font-weight: 200;
	display: flex;
	gap: 5px;
	padding-top: 5px;
}

.botones-form {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

#galeria {
	display: none;
	width: 90%;
	justify-content: center;
	height: 100vh;
	background-color: #240439;
	position: absolute;
	top: 0;
	z-index: 10;
}

#galeria-oculta {
	display: flex;
	width: 100%;
	max-width: 1450px;
	overflow: hidden;
	z-index: 20;
}

.galeria-1 {
	margin: 0;
	flex: none;        
}

.fraccion-galeria {
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1100px;
	width: 100%;
	min-width: 1450px;
	height: 100vh;
	justify-content: space-between;
}

.primer-ultima-flecha {
	visibility: hidden;
}

.flecha:hover {
    transition: 0.5s;
    filter: hue-rotate(50deg);
    transform: scale(1.08);
}

.close {
	position: absolute;
	top: 5%;
	right: 2%;
}

.close:hover {
    transform: scale(1.1);
    transition: 0.5s;
    filter: saturate(2);
}

.subtitulo-galeria {
	margin-top: 80vh;
	text-align: center;
}

.subtitulo-galeria :first-child {
	font-weight: 600;
	font-size: 1.7em;
	padding: 5px 0px 10px 0px;
	color: #ce88fd;
}

.subtitulo-galeria :last-child {
	font-size: 1.2em;
	font-style: italic;
	font-weight: 300;
}

#foto-1 {
	background-image: url("img/proyecto1.png");
}

#foto-2 {
	background-image: url("img/proyecto2.png")
}

#foto-3 {
	background-image:url("img/proyecto3.png");
}

#foto-4 {
	background-image: url("img/proyecto4.png");
}

#foto-5 {
	background-image: url("img/proyecto5.png")
}

#foto-6 {
	background-image:url("img/proyecto6.png");
}

#foto-7 {
	background-image: url("img/proyecto7.png");
}

#foto-8 {
	background-image: url("img/proyecto8.png")
}

#foto-9 {
	background-image:url("img/proyectos/Artboard 1.png");
}

@media only screen and (max-width: 600px) {

	header {
		font-size: 1.1em;
	}

	nav {
        display: grid;
        grid-template-columns: 1fr; /* Una columna para el icono */
        justify-items: center;
        gap: 10px;
    }

    .iconobotonera {
        grid-column: 1 / -1; /* Ocupará toda la fila superior */
        display: flex;
        justify-content: center;
    }

    .botonera {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Tres columnas para la lista */
        gap: 15px;
        justify-items: center;
        width: 100%;
		padding: 0% 0% 10px 0%;
    }

	/* prueba mas cerca
    nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px;
        justify-items: center;
    }

    .botonera {
        grid-column: span 2; 
        flex-wrap: wrap;
        gap: 20px;
    }*/

	/*
	nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.iconobotonera {
		padding-top: 10px;
	}
	.botonera {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 10px;
        justify-items: center;
    }

	/*
	.botonera {
		font-size: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0% 0% 20px 0%;
		align-items: center;
		height: fit-content;
		width: fit-content;
		column-count: 2;
	}

	.botonera li {
		padding-top: 10px;
	}
*/
	.contenedor p {
		width: 60%;
	}

	h1 {
		font-size: 5em;
	}

	p {
		font-size: 0.9em;
	}

	.contenedor {
		margin: 15% 0% 10% 0%;
		height: 85vh;
		background: url(img/astengobelen-cv\ -fondo-mobile.JPG);
		border-radius: 10px;
		padding: 5% 0% 0% 2.5%;
	}

	.contenedor ul {
		justify-content: center;
	}

	.contenedor li {
		text-align: center;
		height: fit-content;
		width: fit-content;
		padding: 2%;
	}

	li {
		font-size: 0.9em;
	}

	.formacion {
		flex-direction: column;
	}

	.estudios {
		width: auto;
	}

	.materiascompletadas {
		width: auto;
	}

	.pasatiempos img {
		max-width: 540px;
	}

	h6 {
		padding-bottom: 40px;
	}

	footer {
		font-size: 1em;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.datos {
		padding-bottom: 5%;
	}
}

